<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-autowire="byName">

    <bean id="accessSystemConfig" class="com.dingtalk.isv.access.api.constant.AccessSystemConfig">
        <property name="corpSuiteCallBackUrl" value="${corp.suite.callback}"></property>
    </bean>

    <bean id="httpRequestHelper" class="com.dingtalk.isv.common.util.HttpRequestHelper"></bean>
    <bean id="crmOapiRequestHelper" class="com.dingtalk.isv.access.biz.dingutil.CrmOapiRequestHelper">
        <property name="oapiDomain" value="${oapi.environment}" />
        <property name="httpRequestHelper" ref="httpRequestHelper"/>
    </bean>


    <bean id="corpRequestHelper" class="com.dingtalk.isv.access.biz.dingutil.CorpOapiRequestHelper">
        <property name="oapiDomain" value="${oapi.environment}" />
        <property name="httpRequestHelper" ref="httpRequestHelper"/>
    </bean>

    <bean id="confOapiRequestHelper" class="com.dingtalk.isv.access.biz.dingutil.ConfOapiRequestHelper">
        <property name="oapiDomain" value="${oapi.environment}" />
        <property name="httpRequestHelper" ref="httpRequestHelper"/>
    </bean>

    <bean id="reportOapiRequestHelper" class="com.dingtalk.isv.access.biz.dingutil.ReportOapiRequestHelper">
        <property name="oapiDomain" value="${oapi.environment}" />
        <property name="httpRequestHelper" ref="httpRequestHelper"/>
    </bean>


    <bean id="channelOapiRequestHelper" class="com.dingtalk.isv.access.biz.dingutil.ChannelOapiRequestHelper">
        <property name="oapiDomain" value="${oapi.environment}" />
        <property name="httpRequestHelper" ref="httpRequestHelper"/>
    </bean>

    <bean id="orgOapiRequestHelper" class="com.dingtalk.isv.access.biz.dingutil.OrgOapiRequestHelper">
        <property name="oapiDomain" value="${oapi.environment}" />
        <property name="httpRequestHelper" ref="httpRequestHelper"/>
    </bean>


    <bean id="isvRequestHelper" class="com.dingtalk.isv.access.biz.dingutil.ISVRequestHelper">
        <property name="oapiDomain" value="${oapi.environment}" />
        <property name="httpRequestHelper" ref="httpRequestHelper"/>
    </bean>



    <bean id="corpAuthSuiteEventBus" class="com.google.common.eventbus.EventBus" />
    <bean id="corpAuthSuiteEventListener" class="com.dingtalk.isv.access.biz.event.CorpAuthSuiteEventListener"/>
    <bean id="ListenerInitService" class="com.dingtalk.isv.common.event.ListenerInitService" init-method="register">
        <property name="eventListenerMap">
            <map>
                <entry key-ref="corpAuthSuiteEventBus" value-ref="corpAuthSuiteEventListener"></entry>
            </map>
        </property>
    </bean>


    <bean id="suiteManageService" class="com.dingtalk.isv.access.biz.suite.service.impl.SuiteManageServiceImpl"/>
    <bean id="corpSuiteAuthService" class="com.dingtalk.isv.access.biz.suite.service.impl.CorpSuiteAuthServiceImpl"/>
    <bean id="corpManageService" class="com.dingtalk.isv.access.biz.corp.service.impl.CorpManageServiceImpl"/>
    <bean id="staffManageService" class="com.dingtalk.isv.access.biz.corp.service.impl.StaffManageServiceImpl"/>
    <bean id="crmManageService" class="com.dingtalk.isv.access.biz.crm.service.impl.CrmManageServiceImpl"/>
    <bean id="deptManageService" class="com.dingtalk.isv.access.biz.corp.service.impl.DeptManageServiceImpl"/>
    <bean id="sendMessageService" class="com.dingtalk.isv.access.biz.message.service.impl.SendMessageServiceImpl"/>
    <bean id="reportManageService" class="com.dingtalk.isv.access.biz.microapp.report.ReportManageServiceImpl"/>
    <bean id="channelManageService" class="com.dingtalk.isv.access.biz.corp.service.impl.ChannelManageServiceImpl"/>
    <bean id="orgManangerService" class="com.dingtalk.isv.access.biz.org.service.impl.OrgManangerServiceImpl"/>


    <!-- LOG -->
    <bean id="serviceMethodInterceptor" class="com.dingtalk.isv.common.log.service.ServiceMethodInterceptor"></bean>
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>suiteManageService</value>
                <value>corpSuiteAuthService</value>
                <value>corpManageService</value>
                <value>staffManageService</value>
                <value>crmManageService</value>
                <value>formManageService</value>
                <value>deptManageService</value>
                <value>sendMessageService</value>
                <value>reportManageService</value>
                <value>channelManageService</value>
                <value>orgManangerService</value>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
                <value>serviceMethodInterceptor</value>
            </list>
        </property>
    </bean>
</beans>

