<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingtalk.isv.access.biz.dao.CorpChannelAppDao">

    <resultMap type="com.dingtalk.isv.access.biz.model.CorpChannelAppDO" id="corpChannelAppMap">
        <id property="id" column="id" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="corpId" column="corp_id" />
        <result property="appId" column="app_id" />
        <result property="agentId" column="agent_id" />
        <result property="agentName" column="agent_name" />
        <result property="logoUrl" column="logo_url" />
    </resultMap>

    <sql id="select-all-fields">
        id,
        gmt_create,
        gmt_modified,
        corp_id,
        app_id,
        agent_id,
        agent_name,
        logo_url
    </sql>

    <insert id="saveOrUpdateCorpChannelApp" useGeneratedKeys="true" keyProperty="id">
        insert into isv_corp_channel_app (
                gmt_create,
                gmt_modified,
                corp_id,
                app_id,
                agent_id,
                agent_name,
                logo_url
        )values(
                now(),
                now(),
                #{corpId},
                #{appId},
                #{agentId},
                #{agentName},
                #{logoUrl}
        )ON DUPLICATE KEY UPDATE gmt_modified=now(),agent_id=#{agentId},agent_name=#{agentName},logo_url=#{logoUrl}
    </insert>

    <select id="getCorpChannelApp" resultMap="corpChannelAppMap">
           select <include refid="select-all-fields"/> from isv_corp_channel_app
        <![CDATA[
			WHERE corp_id=#{corpId} AND app_id=#{appId}
		 ]]>
    </select>


    <delete id="deleteCorpChannelApp">
        delete from isv_corp_channel_app
        <![CDATA[
			WHERE corp_id=#{corpId} AND app_id=#{appId}
		 ]]>
    </delete>


</mapper>